.list {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;

    p {
        margin-bottom: 8px;
    }

    ul {
        list-style-position: inside;
        margin-left: 10px;

        li {
            margin-bottom: 8px;
        }
    }
}
